.slider-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: 4rem;
    .slider-link{
        display:block;
        color: #333;
        margin-left: 1rem;
    }
}

// an thanh scoll
.slider-wrapper::-webkit-scrollbar {
    height: 0;
}